body {
  //background-image: url("../images/boxed-bg.png");
  background-color: #f9f9f9;
}

.header .navbar {
  z-index: 10;
}
.particles-js-canvas-el {
  top: 0px;
  position: absolute;
  background-color: #1a1a1a;
  background-image: url("../images/servers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @media (max-width: 540px) {
    background-image: url("../images/servers-movil.jpg");
  }
}

.main {

  max-width: 95%;
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.container-banner-box {
    color: white;
    z-index: 10;
    position: relative;
    max-width: 379px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}
.banner-box {
  padding-top: 60%;
}
.c-icons {
  font-size: 28px;
  color: #01579b;
}
.c-text {
  color: #5d5c5c;
}
.c-text h5 {
  color: black;
}

.image-card {
  position: relative;
  display: inline-block;
}

.card-title {
  color: black;
  background-color: #f8f9fab3;
  padding-top: .5rem;
  padding-bottom: .25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  left: 0;
  top: 0;
  position: absolute;
}
.from-label {
  color: gray;
}