<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <style>
        * { font-family:tahoma; font-size:12px; padding:0px;margin:0px;}
        p { line-height:18px; }
        div { width:500px; margin-left:auto; margin-right:auto;}
        #content { padding:5px; background:#ddd; border-radius:5px;
            overflow-y: scroll; border:1px solid #CCC;
            margin-top:10px; height: 160px; }
        #input { border-radius:2px; border:1px solid #ccc;
            margin-top:10px; padding:5px; width:400px;
        }
        #status { width:88px;display:block;float:left;margin-top:15px; }
    </style>

    <div id="content"></div>
    <div>
        <span id="status">Connecting...</span>
        <input type="text" id="input" disabled="disabled" />
    </div>

    <h1>test 3</h1>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>

        let wasConnected = false;
        let isConnected = false;

        let connection;

        let v = "U2FsdGVkX1+kwcpEpXmjsfF2xLHKsqmCzL6udVnvfdc="

        function connect() {
            // if user is running mozilla then use it's built-in WebSocket
            window.WebSocket = window.WebSocket || window.MozWebSocket;
            if (window.WebSocket) {
                connection = new WebSocket('ws://'+ window.location.hostname + '?value=' + v + "&type=device");
                connection.onopen = () => {
                    if (wasConnected) {
                        alert('Hemos recuperado la comunicacion con el servidor.');
                    }
                    wasConnected = true;
                    isConnected = true;
                };
                connection.onmessage = (message) => {
                    //console.log(message);
                    try {
                        var json = JSON.parse(message.data);
                        //console.log(json);
                        DeviceDataProcess(json);
                    } catch (e) {
                        console.log('Invalid JSON: ', message.data);
                        return;
                    }
                };
                connection.onclose = (closeEvent) => {
                    if (isConnected) {
                        alert('Lo sentimos, Hemos perdido comunicacion con el servidor. Intentando reconectar...');
                        isConnected = false;
                    }
                    setTimeout ('connect()', 5000); 
                };
                connection.onerror = (error) => {
                    if (isConnected) {
                        alert('Lo sentimos, Hay algún problema con la conexión. Intentando reconectar...');
                        wasConnected = true;
                        isConnected = false;
                    }
                    connection.close();
                };
            } else {
                alert('Lo sentimos, pero su navegador no es compatible con nuestros sitio web.');
            }
        }
        connect();

        setInterval(function(){
            if (isConnected) {
                connection.send("{}");
            }
        }, 1000); 
    </script>
</body>
</html>