<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <style>
        * { font-family:tahoma; font-size:12px; padding:0px;margin:0px;}
        p { line-height:18px; }
        div { width:500px; margin-left:auto; margin-right:auto;}
        #content { padding:5px; background:#ddd; border-radius:5px;
            overflow-y: scroll; border:1px solid #CCC;
            margin-top:10px; height: 160px; }
        #input { border-radius:2px; border:1px solid #ccc;
            margin-top:10px; padding:5px; width:400px;
        }
        #status { width:88px;display:block;float:left;margin-top:15px; }
    </style>

    <div id="content"></div>
    <div>
        <span id="status">Connecting...</span>
        <input type="text" id="input" disabled="disabled" />
    </div>

    <h1>test 3</h1>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>

        console.log(window.location.hostname);

        $(function () {
            var SERIAL = "5RWF6UA3";
            // if user is running mozilla then use it's built-in WebSocket
            window.WebSocket = window.WebSocket || window.MozWebSocket;
            if (!window.WebSocket) {
                alert('Lo sentimos, pero su navegador no es compatible con WebSocket.');
                /*
                *
                * Otro tipo de conexion
                *
                */
            } else {
                var connection = new WebSocket('ws://127.0.0.1:9302');
                connection.onopen = () => {
                    var regist = {
                        type: 'client',
                        serial: SERIAL
                    };
                    connection.send('Leder Diez');
                };
                connection.onerror = (error) => {
                    alert("Lo sentimos, pero hay algún problema con tu conexión o el servidor está caído.");
                    /**
                    *
                    * Otro tipo de conexion
                    *
                    */
                };
                connection.onmessage = function (message) {
                    console.log(message);
                    try {
                        var json = JSON.parse(message.data);

                        /**
                        *
                        *   Procesar los datos recibidos
                        * 
                        */

                    } catch (e) {
                        console.log('Invalid JSON: ', message.data);
                    return;
                    }
                };
                setInterval(() => {
                    if (connection.readyState !== 1) {
                        //alert("Unable to communicate with the WebSocket server.");
                    }
                }, 2000);
            }
        });
    </script>
</body>
</html>
