.header .navbar {
  background-color: transparent !important;
  z-index: 10; }

body {
  background-color: #212121;
  color: white; }

#particles-js {
  height: 594px; }

.particles-js-canvas-el {
  top: 0px;
  /*max-height: 594px;*/
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.container-banner-box {
  color: white;
  z-index: 10;
  position: relative;
  max-width: 379px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center; }

.banner-box {
  padding-top: 60%; }

.c-icons {
  font-size: 28px;
  color: #01579b; }

.c-text {
  color: #bdbdbd; }

.c-text h5 {
  color: white; }

.image-card {
  position: relative;
  display: inline-block; }

.card-title {
  color: black;
  background-color: #f8f9fab3;
  padding-top: .5rem;
  padding-bottom: .25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  left: 0;
  top: 0;
  position: absolute; }

.from-label {
  color: gray; }
