<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">

    <li class="nav-header">Administración</li>

    <li class="nav-item">
      <a href="#" class="devices nav-link">
        <i class="nav-icon fas fa-desktop text-primary"></i>
        <p>Monitores</p>
      </a>
    </li>

    <li class="nav-header">Visualización</li>

    <li class="nav-item">
      <a href="#" class="dashboard nav-link">
        <i class="nav-icon fas fa-tachometer-alt text-success"></i>
        <p>Tablero</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="historical nav-link">
        <i class="nav-icon fas fa-chart-bar text-purple"></i>
        <p>Estadisticas</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="comparisons nav-link">
        <i class="nav-icon fas fa-copy text-orange"></i>
        <p>Comparaciones</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="notifications nav-link">
        <i class="nav-icon fas fa-bell text-warning"></i>
        <p>Notificaciones</p>
      </a>
    </li>

    <li class="nav-header">Cuenta</li>

    <li class="nav-item" data-toggle="modal" data-target="#modal-edit-user" href="#" data-backdrop="static" data-keyboard="false">
      <a href="#" class="user nav-link">
        <i class="nav-icon fas fa-user text-maroon"></i>
        <p>Perfil</p>
      </a>
    </li>
  </ul>
</nav>