<div id="forgot" class="login-box">
  <div class="card card-outline card-primary">
    <!-- /.logo -->
    <div class="card-header text-center">
      <a onclick="loadView('login');" class="h1"><b>LOGO</b></a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">
        ¿Olvidaste tu contraseña?
        <br>
        Aquí puede recuperar fácilmente una nueva contraseña.</p>
      <form autocomplete="on" action="" onSubmit="send_forgot(); return false">
        <div class="input-group mb-3">
          <input 
          id="mail_forgot" 
          type="email" 
          class="form-control" 
          placeholder="Correo electronico"
          required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Restaurar contraseña</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="text-center mt-3 mb-1">
        <a onclick="loadView('login');" class="text-center">Inicia sesión</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  <div class="text-center">
    <p>
      <small class="text-muted">Leder Diez © 2018 - 2021 | version 4.0</small>
    </p>
  </div>
</div>
<!-- /.login-box -->
<script>
  function send_forgot() {
    Pace.restart();
    
    let mail   = $('#mail_forgot').val();
    
    $.post("../forgot", {
      mail  : mail.replace(/ /g, "")
    }, function (response, status) {
      requestsProcess(status, response);
    });
  }
</script>