<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
	<title><%= title %></title>
  
  <meta name="theme-color" content="#4285f4">

	<meta name="description" content="Plataforma administrativa IoT">
	<meta name="keywords" content="Acceso, IoT, Internet Of Things, cloud, platform, esp8266, arduino, Leder Diez, Internet de las cosas">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="application-name" content="Administracion">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Pace progress -->
	<link rel="stylesheet" href="/plugins/pace-progress/themes/red/pace-theme-minimal.css">
  <!-- Toastr -->
  <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/adminlte/css/adminlte.min.css">

  <style type="text/css">
    .login-box {
      z-index: 10;
      position: relative;
    }
    .particles-js-canvas-el {
      top: 0px;
      /*max-height: 594px;*/
      position: absolute;
      height: 100vh !important;
      background-color: #1a1a1a;
      background-image: url("");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
  </style>

</head>
<body class="user-select-none">
  <header id="particles-js" class="header">
    <div class="hold-transition login-page viewport"></div>
      <canvas class="particles-js-canvas-el"></canvas>
  </header>

  <!-- jQuery -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Pace progress -->
  <script src="/plugins/pace-progress/pace.min.js"></script>
  <!-- Toastr -->
  <script src="/plugins/toastr/toastr.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/adminlte/js/adminlte.min.js"></script>
  <!-- Particles js -->
  <script src="/plugins/particles/particles.min.js"></script>
  <!-- Particles config -->
  <script src="/plugins/particles/particles-app.js"></script>

	<script type="text/javascript">
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-left",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000"
    };

    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
      var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
      results = regex.exec(location.search);
      return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    let pages = [];
    let lastPage = "something";
    
    function loadView(page) {
      let container = $('.viewport');
      if ($("#" + page).length ) {
        if (lastPage !== page) {
          for (let i = 0; i < pages.length; i++) {
            if (pages[i] !== page) {
              $("#" + pages[i]).css( "display", "none" );
            } else {
              $("#" + pages[i]).css( "display", "block" );
            }
          }
          $('.' + lastPage).parent().removeClass( "active" );
          $('.' + page).parent().addClass( "active" );
          lastPage = page;
        }
      } else {
        Pace.restart();
        $.ajax({url: "/acceso/" + page + ".html",
          success: function(result) {
            $(container).append(result);
            pages.push(page);
            for (let i = 0; i < pages.length; i++) {
              if (pages[i] !== page) {
                $("#" + pages[i]).css( "display", "none" );
              }
            }
            $('.' + lastPage).parent().removeClass( "active" );
            $('.' + page).parent().addClass( "active" );
            lastPage = page;
          }, error: function () {
            toastr.error('Tenemos problemas para procesar las peticiones.', 'Error!');
            loadView("login");
          }
        });
			}
		}

    if (getParameterByName('view') != '') {
      loadView(getParameterByName('view'));
    } else {
      loadView("login");
    }

    function requestsProcess (status, response) {
      if (response.status == "success") {
        toastr.success(response.message, response.title);
      } else if (response.status == "error") {
        toastr.error(response.message, response.title);
      } else {
        toastr.error('Tenemos problemas para procesar las peticiones.', 'Error!');
        return;
      }
      if (response.action == "show") {
        setTimeout( function() {
          loadView(response.toShow);
        }, 1000);
      } else if (response.action == "redirect") {
        setTimeout( function() {
          window.location.replace(response.redirectTo);
        }, 1000);
      } else if (response.action == "reload") {
        setTimeout( function() {
          window.location.reload();
        }, 1000);
      }
    }

	</script>
</body>
</html>