<div id="login" class="login-box">
  <div class="card card-outline card-primary">
  	<!-- /.logo -->
  	<div class="card-header text-center">
			<a href="../../" class="h1"><b>LOGO</b></a>
		</div>
		<div class="card-body">
			<p class="login-box-msg">Inicia sesión</p>
			<form onsubmit="send_login(); return false;" autocomplete="on">
        <div class="input-group mb-3">
          <input 
          id="email_login"
          class="form-control"
          placeholder="Correo electronico"
          required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
					id="password_login"
					class="form-control"
					type="password"
          placeholder="Contraseña"
          required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
              <input type="checkbox" id="check" onclick="showPass()">
              <label for="check">
                Mostrar contraseña
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-5">
            <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mb-1">
        <a onclick="loadView('forgot'); " class="text-center">¿Olvidaste la contraseña?</a>
      </p>
      <p class="mb-0">
        <a onclick="loadView('register');" class="text-center">¿Crea una cuenta?</a>
      </p>
		</div>
		<!-- /.card-body -->
	</div>
  <!-- /.card -->
	<div class="text-center">
		<p>
			<small class="text-muted">Leder Diez © 2018 - 2022 | version 4.1</small>
		</p>
	</div>
</div>
<!-- /.login-box -->
<script>
	function showPass () {
		if ($("#check").prop('checked')) {
			$("#password_login").prop('type', 'text');
		} else {
			$("#password_login").prop('type', 'password');
		}
	}

  function send_login() {
    Pace.restart();
		
		let email 	 = $('#email_login').val();
		let password = $('#password_login').val();
		
		$("#password_login").prop('type', 'password');
		$.post("../../v1/acceso/login", {
			username: email,
			password
		}, (response, status) => {
      console.log(response);
			$("#password_login").val('');
			requestsProcess(status, response);
		});
	}
</script>