<div id="recover" class="login-box">
  <div class="card card-outline card-primary">
    <!-- /.logo -->
    <div class="card-header text-center">
      <a onclick="loadView('login');" class="h1"><b>LOGO</b></a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">
      Estás a solo un paso, recupera tu contraseña ahora.
    	</p>
      <form autocomplete="on" action="" onSubmit="send_recover(); return false">
        <div class="input-group mb-3">
          <input 
          id="pass1_recover" 
          type="password" 
          class="form-control" 
          placeholder="Contraseña">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input 
          id="pass2_recover" 
          type="password" 
          class="form-control" 
          placeholder="Confirmar contraseña">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Cambiar contraseña</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="text-center mt-3 mb-1">
        <a onclick="loadView('login');" class="text-center">Inicia sesión</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  <div class="text-center">
    <p>
      <small class="text-muted">Leder Diez © 2018 - 2022 | version 4.1</small>
    </p>
  </div>
</div>
<!-- /.login-box -->
<script>
  function send_recover() {
    Pace.restart();
    
    let pass1 = $('#pass1_recover').val();
		let pass2 = $('#pass2_recover').val();
    
    if (pass1 === pass2) {
	    $.post("../../v1/acceso/recover", {
	      pass1 : pass1,
				pass2 : pass2
	    }, (response, status) => {
	      requestsProcess(status, response);
	    });
  	} else {
    	toastr.error('Las contraseñas no coinciden.', 'Error!');
		}
  }
</script>