<div id="<%= viewName %>">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				<h1>Notificaciones</h1>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<section id="historical_contend" class="content">
		<div class="container-fluid">
			<!-- The time line -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<!-- Main node for this component -->
					<div class="timeline" id="timeline">
						<!-- Timeline time label -->
						<div class="time-label">
							<span class="bg-red">23 Aug. 2019</span>
						</div>
						<div>
						<!-- Before each timeline item corresponds to one icon on the left scale -->
							<i class="fas fa-desktop bg-blue"></i>
							<!-- Timeline item -->
							<div class="timeline-item">
							<!-- Time -->
								<span class="time"><i class="fas fa-clock"></i> 12:05</span>
								<!-- Header. Optional -->
								<h3 class="timeline-header"><a href="#">Dispositivo </a></h3>
								<!-- Body -->
								<div class="timeline-body">
									Test 1 ha enviado: Alerta de alto consumo.
								</div> <!-- Placement of additional controls. Optional -->
								<div class="timeline-footer d-flex justify-content-end">
									<a class="btn btn-danger btn-sm">Borrar</a>
								</div>
							</div>
						</div> <!-- The last icon means the story is complete -->
						<div class="time-label">
							<span class="bg-green">3 Jan. 2014</span>
						</div>
						<div>
							<!-- Before each timeline item corresponds to one icon on the left scale -->
								<i class="fas fa-tools bg-blue"></i>
								<!-- Timeline item -->
								<div class="timeline-item">
								<!-- Time -->
									<span class="time"><i class="fas fa-clock"></i> 12:05</span>
									<!-- Header. Optional -->
									<h3 class="timeline-header"><a href="#">Sistema</a></h3>
									<!-- Body -->
									<div class="timeline-body">
										Su dispositivo ha perdido comunicacion con nuestra plataforma.
									</div> <!-- Placement of additional controls. Optional -->
									<div class="timeline-footer d-flex justify-content-end">
										<a class="btn btn-danger btn-sm">Delete</a>
									</div>
								</div>
							</div> <!-- The last icon means the story is complete -->
						<div>
							<i class="fas fa-clock bg-gray"></i>
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>

		</div><!-- /.container-fluid -->
	</section>
	<script>
		(function () {

			//

			let view = document.getElementById("<%= viewName %>");
			view.addEventListener("OnVisible", function () {
				//viewport visible
			});
			view.addEventListener("OnInvisible", function () {
				//viewport invisible
			});

		})();
	</script>
</div>