<aside class="control-sidebar control-sidebar-dark" style="display: none;">
  <!-- Control sidebar content goes here -->
  <div class="p-3 control-sidebar-content">
    <h5>Configuraciones</h5>
    <hr class="mb-2">
    
    <div class="form-group">
      <label for="exampleInputRounded0">Flat <code>.rounded-0</code></label>
      <input type="number" class="form-control rounded-0" id="exampleInputRounded0" placeholder=".rounded-0">
    </div>

    <div class="form-group">
      <label for="exampleInputRounded0">Flat <code>.rounded-0</code></label>
      <input type="number" class="form-control rounded-0" id="exampleInputRounded0" placeholder=".rounded-0">
    </div>

    <div class="form-group">
      <label for="exampleInputRounded0">Flat <code>.rounded-0</code></label>
      <input type="number" class="form-control rounded-0" id="exampleInputRounded0" placeholder=".rounded-0">
    </div>

    <div class="form-group">
      <label for="exampleInputRounded0">Flat <code>.rounded-0</code></label>
      <input type="number" class="form-control rounded-0" id="exampleInputRounded0" placeholder=".rounded-0">
    </div>
</aside>