<div id="<%= viewName %>">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
				<h1>Notificaciones</h1>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<section id="historical_contend" class="content">
		<div class="container-fluid">
			<!-- The time line -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<div class="timeline" id="timeline">
					</div>
				</div>
				<!-- /.col -->
			</div>

		</div><!-- /.container-fluid -->
	</section>
	<script>

		function deleteNotifi(id) {
			$.post("../api/notification/delete", {
				id: id
			},
			function(response, status){
				if (status == 'success') {
					toastr.info('Notificación marcada como leída.', 'Mensaje');
					getNotifications();
				}
			});
		}

		function getNotifications() {
			$.post("../api/notifications", {},
			function(response, status){

				let months = ['Ene.', 'Feb.', 'Mar.', 'Abr.', 'May.', 'Jun.', 'Jul.', 'Ago.', 'Sep.', 'Oct.', 'Nov.', 'Dic.'];

				let timeline = document.getElementById("timeline");
				timeline.innerHTML = "";
				
				let count = response.notifications.length;
				for (let i = 0; i < count; i++) {
					let noti = response.notifications[i];
					let d = new Date(noti.generatedDate);

					let hour = d.getHours() + ":" + d.getMinutes();
					let date = d.getDate() +" "+ months[d.getMonth()] + " " + d.getFullYear();

					let message = noti.message
					let id = noti._id;

					let total = 
					"<div class='time-label'><span class='bg-purple'>" + date +"</span></div>" +
					"<div>" +
						"<i class='fas fa-desktop bg-gray'></i>" +
						"<div class='timeline-item'>" +
							"<span class='time'><i class='fas fa-clock'></i> " + hour + "</span>" +
							"<h3 class='timeline-header'><a href='#'>Dispositivo </a></h3>" +
							"<div class='timeline-body'>" +
								"El dispositivo ha enviado: " + message + "." +
							"</div>" +
							"<div class='timeline-footer d-flex justify-content-end'>" +
								"<a class='btn btn-danger btn-sm' onclick='deleteNotifi(\"" + id + "\")'>Borrar</a>" +
							"</div>" +
						"</div>" +
					"</div>";

					timeline.innerHTML += total;
				}

				timeline.innerHTML += "<div><i class='fas fa-clock bg-gray'></i></div>";
			});
		}

		(function () {

			getNotifications();

			let view = document.getElementById("<%= viewName %>");
			view.addEventListener("OnVisible", function () {
				//viewport visible
			});
			view.addEventListener("OnInvisible", function () {
				//viewport invisible
			});

		})();
	</script>
</div>