<div class="modal fade" id="modal-add-device" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">X</span>
				</button>
				<h3 style="margin-top: 0px;margin-bottom: 0px;">Agregar un nuevo dispositivo</h3>
			</div>
			<div class="modal-body">
				<form role="form" onSubmit="add_device(); return false;">
					<!-- text input -->
					<div class="form-group">
						<label>Nombre del dispositivo</label>
						<input type="text" class="form-control" id="inputAddName">
					</div>
					<!-- text input -->
					<div class="form-group">
						<label>Serial del dispositivo</label>
						<input type="text" class="form-control" id="inputAddSerial">
					</div>
					<% if (check) { %>
					<!-- text input -->
					<div class="form-group">
						<label>Contraseña de usuario</label>
						<input type="text" class="form-control" id="inputAddPass">
					</div>
					<% } %>
				</form>
			</div>
			<div class="modal-footer">
				<% if (NDevices > 0) { %>
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
				<% } %>
				<button type="button" class="btn btn-primary" onclick="add_device();" >	AGREGAR</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
	function add_device () {
		Pace.restart();
				
		let addName   = $('#inputAddName').val();
		let addSerial = $('#inputAddSerial').val();
		let pass1 	  = null;
		
		if (<%=check%>) {
			pass1 = $('#inputAddPass').val();
		}
		
		$.post("../api/device", {
			action : 'add',
			name   : addName,
			serial : addSerial
		},
		function (response, status) {
			requestsProcess(status, response);
		});
	}
</script>