<div class="modal fade" id="modal-add-device">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Agregar un nuevo dispositivo</h4>
			</div>
			<div class="modal-body">
				<form role="form" id="fromAdd" onSubmit="addDevice(); return false;">
					<div class="form-group">
						<label>Nombre del dispositivo</label>
						<input required autocomplete="off" type="text" class="form-control rounded-0" placeholder="Nombre" id="inputAddName">
					</div>
					<div class="form-group">
						<label>Serial del dispositivo</label>
						<input required autocomplete="off" type="text" class="form-control rounded-0" placeholder="Serial" id="inputAddSerial">
					</div>
				</form>
			</div>
			<div class="modal-footer justify-content-between">
				<% if (NDevices > 0) { %>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<% } else { %>
				<div></div>
				<% } %>
				<button type="submit" form="fromAdd" class="btn btn-primary" >Agregar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
	function addDevice () {
		Pace.restart();
				
		let addName   = document.getElementById("inputAddName").value;
		let addSerial = document.getElementById("inputAddSerial").value;

		if (addName != '' && addSerial != '') {
			$.post("../user/device/add", {
				name   : addName,
				serial : addSerial
			},
			function (response, status) {
				processResponse(response);
			});
		} else {
			toastr.error('Debe rellenar todos los campos.', 'Error!');
		}
	}
</script>