<div class="modal fade" id="modal-delete-device">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Eliminar este dispositivo</h4>
		</div>
		<div class="modal-body">
			<div class="alert alert-danger alert-dismissible">
				<h5><i class="icon fas fa-ban"></i> Alerta!</h5>
				Desvincular el dispositivo de su cuenta podría causar la perdida total de la comunicación con este.
			</div>
			<form role="form" id="fromDelete" onSubmit="deleteDevice(); return false;">
				<div class="form-group">
					<label>Serial del dispositivo</label>
					<input required autocomplete="off" type="text" class="form-control rounded-0" placeholder="Serial" id="inputDeleteSerial">
				</div>
			</form>
		</div>
		<div class="modal-footer justify-content-between">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<button type="submit" form="fromDelete" class="btn btn-danger">Eliminar</button>
		</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
	function deleteDevice () {
		Pace.restart();

		let deleteSerial = document.getElementById("inputDeleteSerial").value;

		if (deleteSerial != '') {
			$.post("../user/device/delete", {
				serial : deleteSerial
			},
			function (response, status) {
				processResponse(response);
			});
		} else {
			toastr.error('Debe rellenar todos los campos.', 'Error!');
		}
	}
</script>