<div class="modal fade" id="modal-edit-device">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Editar este dispositivo</h4>
		</div>
		<div class="modal-body">
			<form role="form" id="fromEdit" onSubmit="editDevice(); return false;">
				<div class="form-group">
					<label>Nombre del dispositivo</label>
					<input required autocomplete="off" type="text" class="form-control rounded-0" placeholder="Nombre" id="inputEditName">
				</div>
			</form>
		</div>
		<div class="modal-footer justify-content-between">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<button type="submit" form="fromEdit" class="btn btn-primary">Guardar</button>
		</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
	function editDevice () {
		Pace.restart();
				
		let editName   = document.getElementById("inputEditName").value;

		if (editName != '') {
			$.post("../user/device/edit", {
				name   : editName,
			},
			function (response, status) {
				processResponse(response);
			});
		} else {
			toastr.error('Debe rellenar todos los campos.', 'Error!');
		}
	}
</script>