<div class="modal fade" id="modal-edit-user">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">X</span>
			</button>
			<h3 style="margin-top: 0px;margin-bottom: 0px;">Datos de usuario</h3>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="inputNewUser">Editar usuario</label>
				<input type="name" class="form-control" id="inputNewUser" placeholder="No ingresar para no cambiar">
			</div>
			<div class="form-group">
				<label for="inputNewEmail">Editar correo</label>
				<input type="user" class="form-control" id="inputNewEmail" placeholder="No ingresar para no cambiar">
			</div>
			<div class="row" style="margin-right: -5px;margin-left: -5px;">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="inputNewPass1">Nueva contraseña</label>
						<input type="password" class="form-control" id="inputNewPass1"  placeholder="No ingresar para no cambiar">
					</div>
				</div>
				<!-- /.col-lg-6 -->
				<div class="col-lg-6">
					<div class="form-group">
						<label for="inputNewPass2">Repetir contraseña</label>
						<input type="password" class="form-control" id="inputNewPass2" placeholder="No ingresar para no cambiar">
					</div>
				</div>
				<!-- /.col-lg-6 -->
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="inputPassCheck"> Solicitar contraseña para modificar dispositivos
				</label>
			</div>
			<div class="form-group">
				<label for="inputFile">Cagar imagen</label>
				<input type="file" id="inputFile" name="image" accept=".jpg, .jpeg, .png, .gif">
				<p class="help-block">Selecciona una imagen de perfil</p>
			</div>
			<div class="form-group">
				<label for="inputOldPass">Contraseña actual</label>
				<input type="password" class="form-control" id="inputOldPass" placeholder="Se debe ingresar para realizar los cambios">
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" data-dismiss="modal" class="btn btn-default pull-left">Cerrar</button>
			<button type="button"onclick="changeUserData()" class="btn btn-primary">Guardar cambios</button>
		</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
	function changeUserData() {
		(function () {
			let changePass1 = false;
			let changePass2 = false;
			let error = false;

			let user  = document.getElementById("inputNewUser").value;
			let mail  = document.getElementById("inputNewEmail").value;
			let pass1 = document.getElementById("inputNewPass1").value;
			let pass2 = document.getElementById("inputNewPass2").value;
			let check = document.getElementById("inputPassCheck").checked;
			let image = document.getElementById("inputFile").files[0];
			let pass3 = document.getElementById("inputOldPass").value;

			var data = new FormData();
			data.append('page', 'edit');
			if (user != "") {
				data.append('user', user);
			}
			if (mail != "") {
				data.append('mail', mail);
			}
			if (pass1 != "") { changePass1 = true; } else { changePass1 = false; }
			if (pass2 != "") { changePass2 = true; } else { changePass2 = false; }
			if (changePass1 == true && changePass2 == true) {
				if (pass1 === pass2) { 
					data.append('pass1', pass1);
					data.append('pass2', pass2);
				} else {
					toastr.error("Las contraseñas no coinciden.", "Error!");
					error = true;
				}
			} else if (changePass1 == true || changePass2 == true) {
				toastr.error("Las contraseñas no coinciden.", "Error!");
				error = true;
			}
			data.append('check', check);
			if (image != "") {
				data.append('image', image);
			}
			if (pass3 != "") {
				data.append('pass3', pass3);
				document.getElementById("inputOldPass").value = "";
			} else {
				toastr.error("Debe ingresar su contraseña actual para guardar los cambios", "Error!");
				error = true;
			}
			if (!error) {
				$.ajax({
					method: 'POST',
					url   : '../api/user',
					data  : data,
					dataType: 'json',
					processData: false,
					contentType: false,
					success : function(response){
						if (response.status == "success") {
							$('#modal-edit-user').modal('toggle');
						}
						requestsProcess("", response);
					},
					error : function() {
						alert('Bummer: there was an error!');
					},
				});
			}
		}());
	}
</script>