<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LEDER DIEZ</title>
    <meta name="description" content="Plataforma administrativa IoT">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <!-- Bootstrap 5 -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">

    <!-- Generados CSS -->
    <link rel="stylesheet" type="text/css" href="/propios/css/styles.css">

  </head>
  <body class="user-select-none">
    <header class="header" style="height: 100vh;">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="navbar-brand">
            <img src="/favicon.ico" alt="" width="24" height="24" class="d-inline-block align-text-top">
            <span class="navbar-brand mb-0 h1">LOGO</span>
          </div>
          <div class="d-flex">
            <div class="nav-item d-none d-md-block">
              <a class="nav-link text-light" href="#software">Software</a>
            </div>
            <div class="nav-item d-none d-md-block">
              <a class="nav-link text-light" href="#hardware">Hardware</a>
            </div>
            <div class="nav-item d-none d-md-block">
              <a class="nav-link text-light" href="#contacto">Contacto</a>
            </div>
            <div class="nav-item d-flex align-items-center">
              <a href="/acceso" class="btn btn-danger btn-sm">Acceso</a>
            </div>
          </div>
        </div>
      </nav>
      <div id="particles-js">
        <div class="container-banner-box">
          <div class="banner-box">
            <h1>LOGO</h1>
            <p>Sistemas de monitoreo y control a la medida de sus necesidades.</p>
            <a href="/acceso?demo=true" class="btn btn-success">Demo</a>
          </div>
        </div>
        <canvas class="particles-js-canvas-el"></canvas>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="mb-3 mt-3">
            <div class="c-icons d-table-cell align-top pe-2">
              <i class="fas fa-hand-holding-heart"></i>
            </div>
            <div class="c-text d-table-cell align-middle">
              <h5>Diagnóstico temprano</h5>
              Usamos inteligencia artificial para informarle de futuros fallos en sus equipos.
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="mb-3 mt-3">
            <div class="c-icons d-table-cell align-top pe-2">
              <i class="fas fa-cloud"></i>
            </div>
            <div class="c-text d-table-cell align-middle">
              <h5>Plataforma en la nube</h5>
              Gestione todo desde una misma plataforma en su dispositivo móvil.
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="mb-3 mt-3">
            <div class="c-icons d-table-cell align-top pe-2">
              <i class="fas fa-database"></i>
            </div>
            <div class="c-text d-table-cell align-middle">
              <h5>Almacenamiento en la nube</h5>
              Nuestra plataforma almacena los datos para que usted pueda consultarlos en cualquier momento.
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="mb-3 mt-3">
            <div class="c-icons d-table-cell align-top pe-2">
              <i class="fas fa-history"></i>
            </div>
            <div class="c-text d-table-cell align-middle">
              <h5>Datos en tiempo real</h5>
              Visualice sus datos en cuanto se generan.
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="mb-3 mt-3">
            <div class="c-icons d-table-cell align-top pe-2">
              <i class="fas fa-gamepad"></i>
            </div>
            <div class="c-text d-table-cell align-middle">
              <h5>Control a distancia</h5>
              Controle sus equipos desde cualquier lugar en el que se encuentre.
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="mb-3 mt-3">
            <div class="c-icons d-table-cell align-top pe-2">
              <i class="fas fa-microchip"></i>
            </div>
            <div class="c-text d-table-cell align-middle">
              <h5>Control a medida</h5>
              Hardware y Software a media para el control de todo tipo de equipos.
            </div>
          </div>
        </div>
      </div>
      <a name="software"></a>
      <div class="p-2">
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img src="/images/a-medida1.jpg" class="img-fluid">
        </div>
        <div class="col-sm-8">
          <h5 class="mt-1">Software a medida</h5>
          Nuestra plataforma es un producto diseñado y desarrollado e implementado con base en las necesidades de su negocio, además le ofrece múltiples ventajas competitivas, de eficiencia, optimización y costos.
          <br>
          Nuestro software a medida contempla las diferentes dimensiones y variables involucradas: las personas, los procesos, la seguridad, los volúmenes de datos, el entorno de negocio y muchas otras, con el fin de generar un programa que solucione y entregue el valor esperado a su negocio o empresa.
        </div>
      </div>
      <a name="hardware"></a>
      <div class="p-2">
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h5 class="mt-1">Hardware a medida</h5>
          Ofrecemos hardware a medida especializado para la automatización de procesos industriales.
        </div>
        <div class="col-sm-4">
          <img src="/images/a-medida2.jpg" class="img-fluid">
        </div>
      </div>
      <div class="p-2">
        <hr>
      </div>
      <div class="d-flex justify-content-center">
          <h4>APLICACIONES</h4>
      </div>
      <div class="d-flex justify-content-center pb-4">
        <div class="text-center">
        Ofrecemos una infraestructura en la nube lista para usar y conectar todos sus equipos. Ademas con nuestro hardware programado a la mediad de sus nesecidades podra automatizar cualquier tipo de proceso.</div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-3 px-0">
          <div class="image-card">
            <img src="/images/caso-uso1.jpg" class="img-fluid content_photo">
            <div class="card-title">
              <h6>AGRONOMIA</h6>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 px-0">
          <div class="image-card">
            <img src="/images/caso-uso2.jpg" class="img-fluid content_photo">
            <div class="card-title">
              <h6>RASTREO DE ACTIVOS</h6>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 px-0">
          <div class="image-card">
            <img src="/images/caso-uso3.jpg" class="img-fluid content_photo">
            <div class="card-title">
              <h6>INDUSTRIA</h6>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3 px-0">
          <div class="image-card">
            <img src="/images/caso-uso4.jpg" class="img-fluid content_photo">
            <div class="card-title">
              <h6>AGUA INTELIGENTE</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="p-2">
        <hr>
      </div>
      <div class="row">
        <div class=" col-12 col-sm-6">
          <a name="contacto"></a>
          <h2 class="d-flex justify-content-center pb-2"><strong>Contáctanos</strong></h2>
          <p class="text-center">Cuéntanos tus ideas o proyectos, estaremos más que felices en ayudarle a cumplir tus objetivos.</p>
          <form class="form-floating">
            <div class="form-floating  mb-3">
              <input class="form-control" id="floatingName" placeholder="nombre">
              <label class="from-label" for="floatingName">Nombre completo</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="floatingEmail" placeholder="correo">
              <label class="from-label" for="floatingEmail">Correo eléctronico</label>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Describe tu caso de uso o aplicación:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>

        <div class=" col-12 col-sm-6 pt-5 text-center d-flex align-items-center justify-content-center">
            <div class="">
              <h2><strong>NOMBRE Y LOGO</strong></h2>
              <p class="lead mb-0">Monteria - Cordoba</p>
              <p class="lead mb-5">
                Calle 14 # 3-36 Barrio La granja
                <br>
                Correo: lederdiez00@gmail.com
                <br>
                Teléfono: +57-3003597502
              </p>
            </div>
          </div>
        </div>
    </div>
    <div class="p-2"></div>

    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Particles js -->
    <script src="/plugins/particles/particles.min.js"></script>
    <!-- Particles config -->
    <script src="/plugins/particles/particles-home.js"></script>

    <script type="text/javascript">
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('../service-worker.js');
      }
    </script>
  </body>
</html>