<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="google-site-verification" content="KkCjGyq7eZ2z7FFI5Wsm76B5bkcW6xzH58addUdzitw" />

		<title>LEDER DIEZ</title>
		<meta name="description" content="Plataforma administrativa IoT">

		<!-- Font Awesome -->
		<link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
		<!-- Bootstrap 5 -->
		<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">

		<!-- Generados CSS -->
		<link rel="stylesheet" type="text/css" href="/css/styles.css">

	</head>
	<body class="user-select-none">
		<header class="header">
			<nav class="navbar navbar-dark bg-dark">
				<div class="container-fluid">
					<div class="navbar-brand">
						<!--<img src="/favicon.ico" alt="" width="24" height="24" class="d-inline-block align-text-top">-->
						<span class="navbar-brand mb-0 h1">PHS</span>
					</div>
					<div class="d-flex">
						<div class="nav-item d-none">
							<a class="nav-link text-light" href="#software">Software</a>
						</div>
						<div class="nav-item d-none d-md-block">
							<a class="nav-link text-light" href="#hardware">Hardware</a>
						</div>
						<div class="nav-item d-none d-md-block">
							<a class="nav-link text-light" href="#contacto">Contacto</a>
						</div>
						<div class="nav-item d-flex align-items-center">
							<a href="/acceso" class="btn btn-danger btn-sm">Acceso</a>
						</div>
					</div>
				</div>
			</nav>
			<div id="particles-js">
				<div class="container-banner-box">
					<div class="banner-box">
						<span class="mb-0 h1">PHS<br>soluciones</span>
						<br>
						<p>Sistemas de monitoreo y control a la medida de las necesidades.</p>
						<a href="/acceso?demo=true" class="btn btn-success">Demos</a>
					</div>
				</div>
				<canvas class="particles-js-canvas-el"></canvas>
			</div>
		</header>
		<section class="main">
			<br>
			<div class="d-flex justify-content-center">
				<h4>Plataforma</h4>
			</div>
			<div class="d-flex justify-content-center pb-4">
				<div class="text-center">
					Nuestra plataforma es todo un ecosistema diseñado como mantenerse en constante comunicación con sus equipos e informar todo lo que está ocurriendo y entre sus principales características se encuentran:
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<div class="mb-3 mt-3">
						<div class="c-icons d-table-cell align-top pe-3">
							<i class="fas fa-hand-holding-heart"></i>
						</div>
						<div class="c-text d-table-cell align-middle">
							<h5>Diagnóstico temprano</h5>
							Usamos inteligencia artificial para informarle de futuros fallos en sus equipos.
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					<div class="mb-3 mt-3">
						<div class="c-icons d-table-cell align-top pe-3">
							<i class="fas fa-cloud"></i>
						</div>
						<div class="c-text d-table-cell align-middle">
							<h5>Plataforma local</h5>
							Adaptamos nuestra plataforma para funcionar únicamente para usted en un ambiente cerrado.
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					<div class="mb-3 mt-3">
						<div class="c-icons d-table-cell align-top pe-3">
							<i class="fas fa-database"></i>
						</div>
						<div class="c-text d-table-cell align-middle">
							<h5>Almacenamiento</h5>
							Nuestra plataforma almacena los datos para que usted pueda consultarlos en cualquier momento.
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					<div class="mb-3 mt-3">
						<div class="c-icons d-table-cell align-top pe-3">
							<i class="fas fa-history"></i>
						</div>
						<div class="c-text d-table-cell align-middle">
							<h5>Datos en tiempo real</h5>
							Visualice sus datos en cuanto se generan.
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					<div class="mb-3 mt-3">
						<div class="c-icons d-table-cell align-top pe-3">
							<i class="fas fa-gamepad"></i>
						</div>
						<div class="c-text d-table-cell align-middle">
							<h5>Control a distancia</h5>
							Controle sus equipos desde cualquier lugar en el que se encuentre de forma segura.
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					<div class="mb-3 mt-3">
						<div class="c-icons d-table-cell align-top pe-3">
							<i class="fas fa-microchip"></i>
						</div>
						<div class="c-text d-table-cell align-middle">
							<h5>Métricas a medida</h5>
							Diseñamos nuestra plataforma para mostrarle todo lo que usted necesite de sus equipos.
						</div>
					</div>
				</div>
			</div>
			<a name="hardware"></a>
			<div class="p-2">
				<hr>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<h5 class="mt-1">Hardware a medida</h5>
					Diseñamos, fabricamos e instalamos cualquier tipo de hardware especializado para la automatización de procesos industriales el cual podrá trabajar o no en conjunto con nuestra plataforma de monitoreo para brindarle todo el control.
					<br>
					Además de todo eso le ofrecemos una variedad de dispositivos ya desarrollados de forma estándar con capacidad de ser programados para las necesidades de control.
				</div>
				<div class="col-sm-4">
					<img src="/images/a-medida2.jpg" class="img-fluid">
				</div>
			</div>
			<div class="p-2">
				<hr>
			</div>
			<div class="d-flex justify-content-center">
					<h4>APLICACIONES</h4>
			</div>
			<div class="d-flex justify-content-center pb-4">
				<div class="text-center">
				Ofrecemos una infraestructura en la nube lista para usar y conectar todos sus equipos. Ademas con nuestro hardware programado a la mediad de sus nesecidades podra automatizar cualquier tipo de proceso en cualquier ambiente.</div>
			</div>
			<div class="row">
				<div class="col-6 col-sm-6 col-md-3 px-0">
					<div class="image-card">
						<img src="/images/caso-uso1.jpg" class="img-fluid content_photo">
						<div class="card-title">
							<h6>AGRONOMIA</h6>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-3 px-0">
					<div class="image-card">
						<img src="/images/caso-uso2.jpg" class="img-fluid content_photo">
						<div class="card-title">
							<h6>RASTREO DE ACTIVOS</h6>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-3 px-0">
					<div class="image-card">
						<img src="/images/caso-uso3.jpg" class="img-fluid content_photo">
						<div class="card-title">
							<h6>INDUSTRIA</h6>
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-3 px-0">
					<div class="image-card">
						<img src="/images/caso-uso4.jpg" class="img-fluid content_photo">
						<div class="card-title">
							<h6>AGUA INTELIGENTE</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="p-2">
				<hr>
			</div>
			<div class="row">
				<div class=" col-12 col-sm-6">
					<a name="contacto"></a>
					<h2 class="d-flex justify-content-center pb-2"><strong>Contáctanos</strong></h2>
					<p class="text-center">Cuéntanos tus ideas o proyectos, estaremos más que felices en ayudarle a cumplir tus objetivos.</p>
					<form class="form-floating">
						<div class="form-floating  mb-3">
							<input class="form-control" id="floatingName" placeholder="nombre">
							<label class="from-label" for="floatingName">Nombre completo</label>
						</div>
						<div class="form-floating mb-3">
							<input class="form-control" id="floatingEmail" placeholder="correo">
							<label class="from-label" for="floatingEmail">Correo eléctronico</label>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label">Describe tu caso de uso o aplicación:</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>
						<div class="d-flex justify-content-center">
							<button type="submit" class="btn btn-primary" disabled>Enviar</button>
						</div>
					</form>
				</div>

				<div class=" col-12 col-sm-6 pt-5 text-center d-flex align-items-center justify-content-center">
						<div class="">
							<h2><strong>PHS</strong><br>soluciones</h2>
							<p class="lead mb-0">Monteria - Cordoba</p>
							<p class="lead mb-5">
								Calle 14 # 3-36 Barrio La granja
								<br>
								Correo: lederdiez00@gmail.com
								<br>
								Teléfono: +57-3003597502
							</p>
						</div>
					</div>
				</div>
		</section>
		<div class="p-2"></div>

		<!-- jQuery -->
		<script src="../plugins/jquery/jquery.min.js"></script>
		<!-- Bootstrap 4 -->
		<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
		<!-- Particles js -->
		<script src="/plugins/particles/particles.min.js"></script>
		<!-- Particles config -->
		<script src="/plugins/particles/particles-home.js"></script>

		<script type="text/javascript">
			if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('../service-worker.js');
			}

			$('.header').height($(window).height());
		</script>
	</body>
</html>