<aside class="control-sidebar control-sidebar-dark" style="display: none;">
  <!-- Control sidebar content goes here -->
  <div class="p-3 control-sidebar-content">
    <h5>Configuraciones</h5>
    <hr class="mb-2">



    <div class="form-group">
      <label for="exampleInputRounded0">Acá estarán configuraciones o demás datos, pero espera un momento, no deberías estar viendo esto.</label>
      <code>¿Qué haces?</code>
    </div>
</aside>