<div class="modal fade" id="modal-add-device">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Agregar un nuevo monitor</h4>
			</div>
			<div class="modal-body">
				<form role="form" id="fromAdd" onSubmit="addDevice(); return false;">
					<div class="form-group">
						<label>Nombre del monitor</label>
						<input required autocomplete="off" type="text" class="form-control rounded-0" id="inputAddName">
					</div>
					<div class="form-group">
						<label>Serial del monitor</label>
						<input required autocomplete="off" type="text" class="form-control rounded-0" id="inputAddSerial">
					</div>
				</form>
				<div class="alert alert-info">
					<h5><i class="icon fas fa-info"></i>Información!</h5>
					El serial es un numero muy importante y debe ser conservado.
				</div>
			</div>
			<div class="modal-footer justify-content-between">
				<% if (associatedDevices > 0) { %>
				<button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Cancelar</button>
				<% } else { %>
				<div></div>
				<% } %>
				<button type="submit" class="btn btn-flat btn-primary" form="fromAdd">Vincular</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
	function addDevice () {
		Pace.restart();
				
		let addName   = document.getElementById("inputAddName").value;
		let addSerial = document.getElementById("inputAddSerial").value;

		if (addName != '' && addSerial != '') {
			$.post("../v1/device/attach", {
				name   : addName,
				serial : addSerial
			}, (response, status) => {
				processResponse(response);
			});
		} else {
			toastr.error('Debe rellenar todos los campos.', 'Error!');
		}
	}
</script>